<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69095145363-r69a3mu7q5h527qlqodrfc6fnajo4j3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69095145363-r69a3mu7q5h527qlqodrfc6fnajo4j3p</string>
	<key>API_KEY</key>
	<string>AIzaSyBHrF8Jbr_G_7N8XN4b6cNFLZW-Q5oUuxE</string>
	<key>GCM_SENDER_ID</key>
	<string>69095145363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nataliamazur.TMSHomework-Lesson40</string>
	<key>PROJECT_ID</key>
	<string>tmshomework-lesson40</string>
	<key>STORAGE_BUCKET</key>
	<string>tmshomework-lesson40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69095145363:ios:2ff39ecba512907182f266</string>
</dict>
</plist>